<h1>Controlpanel</h1>

<%= link_to 'Useraccount management', useraccounts_path %><br />
<%= link_to 'Right management', rights_path %><br />
<%= link_to 'Useraccount right assignment', rightassignment_path %>