<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @requeststatus.description %>
</p>


<%= link_to 'Edit', edit_requeststatus_path(@requeststatus) %> |
<%= link_to 'Back', requeststatuses_path %>
